// Variable Usage
$fontSize: 1.2rem;
$bgColor: pink;
$fontColor: white;
$navBgColor: #30a7c3;
$fontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$bannerBgColor: hotpink;
$myBorder: rgb(196, 189, 189);