.articles {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    .article1 {
      background-color: grey;
      width: 50%;
      border: 1px solid black;
      height: 10rem;
      border-radius: 5px;
    }
  
    .article2 {
      @extend .article1;
      background-color: hotpink;
      border-color: green;
    }
  }